click==8.0.4
streamlit
plotly==4.14.3
base58==2.0.1
pandas
openpyxl
xlsxwriter
tabulate
numpy
patsy
statsmodels
sklearn
statsmodels
matplotlib
seaborn
streamlit-echarts
hydralit_components
pyrebase4
plost