/* div.css-157irdm.e1tzin5v4 p.content-row.card-content {
    font-size: 0.3rem
    color: red
} */

/* div.css-1ht1j8u.e16fv1kl0 {
    font-size: 30px
    color: red
} */

/* div.css-12w0qpk.e1tzin5v2 {
    background-color: #f9f9f9;
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
} */

div.element-container.css-g6eez4.e1tzin5v1 {
    background-color: #EEEEEE;
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
}